<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorinel Rushi</title>
   <link rel="stylesheet" href="../public/style.css">
   <link rel="stylesheet" href="../public/forMobile.css">
</head>
<body>
 <!--navigation bar-->
  <div class="navigation">
    <div class="navigation-flex">
        <div class="left-section">
            <h2 class="logo" style="color: rgb(232, 232, 232);font-weight: 100;letter-spacing: 2px;">d{js}</h2>

            <div class="bars">
              <div class="bars-up"></div>
              <div class="bars-down"></div>
            </div>

        </div>
        <div class="center-section">
          <h2 class="logo-mobile" style="color: rgb(245, 245, 245);font-weight: 100;letter-spacing: 2px;">d{js}</h2>
          <div class="menu-bar">
            <ul>
              <li><a href="/portfolio">Work</a></li>
              <li><a href="/portfolio">About</a></li>
              <li><a href="/portfolio">Skills</a></li>
              <li><a href="/portfolio">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="right-section">
          <div class="svg-icon-message">
            
            <a href="" style="cursor: pointer;">
              <svg width="35" height="35" viewBox="0 0 493 493" fill="red" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_609_23)">
                <path d="M490.786 73.868C490.555 73.503 490.296 73.147 490.007 72.81C487.267 69.522 482.728 68.435 478.824 69.973L6.34421 249.734C2.22921 251.301 -0.338793 255.397 0.0362066 259.782C0.411207 264.157 3.65121 267.763 7.96921 268.599L137.203 293.712L164.89 415.222C164.895 415.246 164.901 415.268 164.906 415.292L164.921 415.359C165.184 416.516 165.693 417.552 166.315 418.51C166.382 418.613 166.388 418.736 166.46 418.839C166.562 418.983 166.732 419.031 166.84 419.168C167.687 420.253 168.698 421.187 169.918 421.836C169.985 421.872 170.035 421.929 170.103 421.963C171.004 422.415 171.976 422.747 173.009 422.905C173.519 422.982 174.019 423.02 174.519 423.02C174.521 423.02 174.523 423.02 174.525 423.02C174.526 423.02 174.527 423.02 174.529 423.02C174.55 423.02 174.571 423.01 174.592 423.01C175.499 423.003 176.385 422.857 177.24 422.611C177.527 422.528 177.792 422.378 178.074 422.268C178.676 422.034 179.255 421.768 179.799 421.419C179.922 421.341 180.062 421.314 180.182 421.23L315.643 326.057L392.269 340.509C392.884 340.624 393.5 340.682 394.106 340.682C398.212 340.682 401.981 338.095 403.385 334.095L491.7 82.532C491.863 82.071 491.998 81.609 492.104 81.128C492.104 81.128 492.104 81.128 492.104 81.118C492.258 80.378 492.325 79.628 492.306 78.887C492.257 77.147 491.757 75.416 490.786 73.868ZM45.6232 255.859L386.93 126.003L143.498 274.878L45.6232 255.859ZM178.613 386.81L156.541 289.985L401.334 140.281L233.411 294.541C232.695 295.2 232.107 295.954 231.625 296.765C231.617 296.779 231.602 296.787 231.594 296.801L178.613 386.81ZM206.065 378.974L245.045 312.746L288.629 320.967L206.065 378.974ZM387.604 319.599L261.2 295.753L460.133 113.013L387.604 319.599Z" fill="#1ef60e"/>
                </g>
                <defs>
                <clipPath id="clip0_609_23">
                <rect width="492.309" height="492.309" fill="red"/>
                </clipPath>
                </defs>
                </svg>
            </a>
              
          </div>
        </div>
    </div>
    <!--menu for mobile & tablet version-->
    <div class="mobile-nav" id="mobile-nav">
      <div class="mobile-nav-flex">
        <div class="menu-mobile">
          <ul>
            <li><a href="/portfolio">Work</a></li>
            <li><a href="/portfolio">Skills</a></li>
            <li><a href="/portfolio">Skills</a></li>
            <li><a href="/portfolio">Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

      <div class="header">

            <div class="header-flex">
              <div class="header-left">
                <div class="inside-header">
          
                    <!--text-->
                      <div class="header-text">
                        <p>HI THERE 👋 I'M</p>
                        <h1>Dorinel Rushi</h1>
                          <h2>UI/UX Designer + Developer 👨</h2>
                          <p class="info">I'm a professional UI/UX designer with front end development skills based in Albania</p>
                          <a href="">
                            <button>Hire Me</button>
                          </a>
                      </div>
               
          
          
                </div>
          
              </div>

              <div class="header-right">
                
                <img src="../public/photo/mackboox.jpg" width="97%">
              </div>


              
           </div>
      </div>
        <!--return-->
            <Br>
       <!--work desing-->
       <div class="work-text">
          <div class="work-text-left">
            <h2>Work</h2>
          </div>
          <div class="work-text-right">
          <h2>Toggle</h2>
          </div>
       </div>
       <!---->
       <div class="line-work"></div>
       <!---->
       <br>
        <div class="work">
           <div class="work-flex"><!---->
            <div class="first_portfolio">
                <!---->
              <div class="port_up"></div>
              <div class="port_down">
                 <div class='inside-port'>
                  <div class="inside-left">
                    <h2>2020</h2>
                    <h1>VISUAL DESIGN</h1>
                  </div>
                  <div class="inside-right">
                    <a href=""><button>LIVE</button></a>
                  </div>
                 </div>
              </div>
              <!---->
            </div>
            <div class="second_portfolio">
                <!---->
                <div class="port_up" style="background:url('https://cdn.sanity.io/images/8ckkdvkv/production/ff47ae83c17f589023aed4a8c62159d317bb3e2c-1232x728.jpg?q=100&auto=format');background-size:cover"></div>
                <div class="port_down">
                   <div class='inside-port'>
                    <div class="inside-left">
                      <h2>2020</h2>
                      <h1>VISUAL DESIGN</h1>
                    </div>
                    <div class="inside-right">
                      <a href=""><button>LIVE</button></a>
                    </div>
                   </div>
                </div>
                <!---->
            </div>

            <div class="third_portfolio" >
              <!---->
              <div class="port_up" style="background:url('https://cdn.sanity.io/images/8ckkdvkv/production/c7381fc572e59b42ccd3953f9773333fc21fd707-1232x728.jpg?q=100&auto=format');background-size:cover"></div>
              <div class="port_down">
                 <div class='inside-port'>
                  <div class="inside-left">
                    <h2>2020</h2>
                    <h1>VISUAL DESIGN</h1>
                  </div>
                  <div class="inside-right">
                    <a href=""><button>LIVE</button></a>
                  </div>
                 </div>
              </div>
              <!---->
          </div>

           <div class="four_portfolio">
              <!---->
              <div class="port_up" style="background:url('https://cdn.sanity.io/images/8ckkdvkv/production/07591d2bcf76453f1967f6dd4dae0b3c9966f607-1232x664.jpg?q=100&auto=format');background-size:cover"></div>
              <div class="port_down">
                 <div class='inside-port'>
                  <div class="inside-left">
                    <h2>2020</h2>
                    <h1>VISUAL DESIGN</h1>
                  </div>
                  <div class="inside-right">
                    <a href=""><button>LIVE</button></a>
                  </div>
                 </div>
              </div>
              <!---->
          </div>
            <!---->
           </div>
        </div>
        <!--return-->

        <div class="showmorebutton">
          <button>Show More</button>
        </div>

        <!--about-->

        <div class="text-about">
          <div class="text-about-flex">
            <h2>My, Myself & I</h2>
            <p>I’m a <b style="color: rgb(255, 255, 255);letter-spacing:0px;font-size:31px">Front-End Developer</b> located in Albania.  I have a serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
    
              Well-organised person, problem solver, independent employee with high attention to detail. 
     
              Interested in the entire frontend spectrum and working on ambitious projects with positive people.</p>
          </div>
        </div>
  
        <!--skills -->
        <div class="skills">
          <div class="skills-flex">
              <div class="inside-the-skills">
                <div class="imagesOne" style="display: flex;justify-content:center">
                  
                  <img src="../public/photo/aboutMackbook.jpg" width="61%" style="margin: auto;text-align:center" id="imgB">

                </div>

                  <div class="skills-boxing">
                    <div class="box-left-one">
                      <div class="text-inside-boxinga">
                        <h2>Skills & <Br>
                          <span style="color: #1d9541;">Experience</span></h2>
                          <p>Since beginning my journey as a freelance developer nearly 3 years ago, I’ve done remote work for agencies, consulted for startups, and collaborated with talented people to create web products for both business and consumer use.
                                      <bR><BR>
                          I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small and medium web apps,  features, animations, and coding interactive layouts.
 <bR><BR>
                          I also have full-stack developer experience with popular open-source CMS </p>
                          <div class="frontend-d">
                            <h2>Frontend</h2>
                            <div class="progress">
                              <div class="progression"></div>
                            </div>
                          </div>
                          <div class="backend-d">
                            <h2>Backend</h2>
                            <div class="progress1">
                              <div class="progression1"></div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="box-right-one">
                      <div class="inside-right-flex">
                        <!--d-->
                         <div class="profile-on"></div>
                         <div class="main-skills">
                                <h2>Main Skills</h2>
                                <div class="skill-list">
                                  <ul>
                                    <li>Web app architecture, Strategic thinking, Storytelling</li>
                                    <li>Frontend, UX/UI</li>
                                    <li>JavaScript, CSS, HTML, Nodejs Express.js React.js</li>
                                    <li>Figma, Photoshop, Illustrator</li>
                                  </ul>
                                </div>
                                <div class="experience">
                                  <h2>Experience</h2>
                                    <div class="list-ex">
                                      <ul>
                                        <li>Web Designer & Junior Frontend developer</li>
                                        <li>@paeon marketing / Agency Marketing</li>
                                        <li>2021</li>
                                      </ul>
                                    </div>
                                </div>
                                <div class="in-b">
                                  
                                  <div class="f-icon">
                                    <img src="../public/photo/icon/1.png" width="90px" class="icon-m">
                                  </div>
                                  <div class="s-icon">
                                    <img src="../public/photo/icon/2.png" width="90px" class="icon-m">
                                  </div>
                                  <div class="th-icon">
                                    <img src="../public/photo/icon/3.png" width="90px" class="icon-m">
                                  </div>
                        
                                  
                                </div>
                         </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      

  <!--script cdn-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--ending cdn-->
  <script>
 
  var clicked = false;
   var bars = document.querySelector(".bars");
   var bars_up = document.querySelector(".bars-up");
   var bars_down = document.querySelector(".bars-down");
   var mobile_nav = document.querySelector('.mobile-nav');

   bars.addEventListener("click",()=>{
      if(!clicked){
        clicked = true;
        mobile_nav.style.display = 'block';
        gsap.to(bars_down,{rotate : -45,duration : 0.25})
        gsap.to(bars_up,{rotate : 45, y : 6.2,duration : 0.25})

      }else{
        clicked = false;
        mobile_nav.style.display = 'none';
        gsap.to(bars_down,{rotate : 0,duration : 0.25})
        gsap.to(bars_up,{rotate : 0, y : 0,duration : 0.25})

      }
   })



  </script>
</body>
</html>